// Grid breakpoints
// для media-запросов

$grid-breakpoints: (
  xs: 0,
  s: 375px,
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

// ==================================================

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;

// ==================================================

// Container padding

$containerWidth: 1280;
$containerPadding: 15;

// ==================================================

// Colors

$dark-color: #031e3e;
$light-color: #398bff;

$title-color: #001731;
$text-color: #6a6a6a;

// ==================================================

// $img-path: '../img';
// $style-path: './src/blocks';

// ==================================================

// Fonts

$fontMain: "Gilroy", sans-serif;

%title-font {
  font-family: $fontMain;
  font-weight: 700;
}

// ==================================================
