// ========================================================================

.main-slider {
  background: #fcf8f3;

  // .main-slider__inner

  &__inner {
    position: relative;
    @include media-breakpoint-up(lg) {
      &::before {
        content: "";
        background: #f9f1e7;
        position: absolute;
        top: 0;
        width: 100vw;
        right: 376px;
        height: 100%;
      }
    }
  }

  // .main-slider__body

  &__body {
    padding: 140px 0px 0px 0px;
    position: relative;
    z-index: 2;
    @include media-breakpoint-down(lg) {
      padding: 80px 0px 0px 0px;
    }
    @include media-breakpoint-down(md) {
      padding: 50px 0px 0px 0px;
    }

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  // .main-slider__content

  &__content {
    align-self: flex-start;
    flex: 0 0 calc(494 / 1240 * 100%);
    @include adaptive-value("margin-bottom", 80, 15, 1);

    @include media-breakpoint-down(lg) {
      margin: 0px -15px;
    }
  }

  // .main-slider__slider

  &__slider {
    flex: 1 1 auto;
    min-width: 0;
    align-self: flex-end;
    @include media-breakpoint-up(lg) {
      padding: 0px 0px 0px 32px;
    }
  }
}

.content-main {
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  @include adaptive-value("padding-top", 60, 15, 1);
  @include adaptive-value("padding-bottom", 60, 15, 1);
  background: rgba(255, 255, 255, 0.72);

  @include media-breakpoint-up(lg) {
    @include adaptive-value("padding", 60, 1, 1);
    background: rgba(255, 255, 255, 0.9);
    // Если ваш бразуер поддерживает backdrop-filter
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .content-main__title

  &__title {
    font-weight: 700;
    @include adaptive-value("font-size", 56, 24, 1);
    line-height: 120%;
    &:not(:last-child) {
      margin: 0px 0px calc(16px / 56px * 1em) 0px;
    }
  }

  // .content-main__text

  &__text {
    @include fluid-size(16, 20);
    font-weight: 500;
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px calc(48px / 20px * 1em) 0px;
    }
  }

  // .content-main__button

  &__button {
    @include fluid-size(16, 20);
    @include adaptive-value("min-height", 78, 48, 1);
    width: 100%;
  }
}

.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include media-breakpoint-down(lg) {
    align-items: stretch;
    flex-direction: column-reverse;
  }
  // .slider-main__controls

  &__controls {
    margin: 0px 0px 20px 0px;
    align-self: stretch;

    @include media-breakpoint-down(md) {
      margin: 20px 0px 20px 0px;
    }
  }

  // .slider-main__body

  &__body {
    overflow: visible;
    @include media-breakpoint-up(lg) {
      @include adaptive-value("width", 934, 290, 1);
    }

    @include media-breakpoint-down(lg) {
      margin: 0px -15px;
    }
  }

  // .slider- main__slide

  &__slide {
    position: relative;
  }

  // .slider-main__slide-image

  &__slide-image {
    padding: 0px 0px 59.1% 0px;
  }

  // .slider-main__slide-content

  &__slide-content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.9);
    @include adaptive-value("padding", 24, 15, 1);
    @include media-breakpoint-up(md) {
      position: absolute;
      min-width: 350px;
      @include adaptive-value("bottom", 40, 0, 1);
      @include adaptive-value("right", 40, 0, 1);
    }

    // Если ваш бразуер поддерживает backdrop-filter
    @supports (
      (-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))
    ) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
    }
  }

  // .slider-main__slide-title

  &__slide-title {
    @include fluid-size(22, 28);
    font-weight: 600;
    line-height: 120%;
    &:not(:last-child) {
      margin: 0px 0px calc(4px / 24px * 1em) 0px;
    }
  }

  // .slider-main__slide-text

  &__slide-text {
    line-height: 150%;
    &:not(:last-child) {
      margin: 0px 0px calc(8px / 16px * 1em) 0px;
    }
  }

  // .slider-main__slide-price

  &__slide-price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    line-height: 150%;
    align-items: center;
    font-weight: 600;
    @include fluid-size(16, 20);
    &::before {
      content: "";
      margin: 0px 0px 0px 10px;
      font-size: 12px;
    }
  }
}
.controls-slider-main {
  display: flex;
  align-items: center;

  // .controls-slider-main__dots

  &__dots {
    flex: 1 1 auto;
    @include media-breakpoint-down(lg) {
      padding: 0px 20px 0px 0px;
    }

    @include media-breakpoint-down(md) {
      justify-content: center;
    }
  }

  // .controls-slider-main__arrows

  &__arrows {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
}

// ========================================================================

/*
Swiper html ==================================================================
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

//============================================================================

*/
// .image-slider {
//   padding: 30px 0px 70px 0px;
//   &__wrapper {
//   }

//   &__slide {
//   }

//   &__image {
//     text-align: center;
//   }

//   &__image img {
//     max-width: 100%;
//   }
// }

// .image-slider .swiper-button-next::after,
// .image-slider .swiper-button-prev::after {
//   color: red;
// }

// .image-slider .swiper-pagination {
//   bottom: 0;
// }

// .image-slider .swiper-pagination-bullet {
//   width: 20px;
//   height: 20px;
//   line-height: 20px;
//   font-size: 14px;
//   background-color: blue;
// }

// .image-slider .swiper-pagination-fraction {
//   font-size: 16px;
//   color: blue;
// }

// .image-slider .swiper-pagination-progressbar {
//   background-color: orange;
// }

// // Скролл

// .image-slider .swiper-scrollbar {
//   cursor: pointer;
//   color: red;
//   background-color: #000;
// }

// // Автоширина

// .image-slider .swiper-slide {
//   width: auto;
// }

// // Мультиядность

// // .image-slider {
// //   height: 700px;
// // }

// // .image-slider .swiper-slide {
// //   height: calc((100% - 30px) / 2);
// //   overflow: hidden;
// // }

// // Вертикальный слайдер

// // .image-slider {
// //   padding: 0px 0 0px 0;
// //   height: 400px;
// // }

// // Эффект куб

// // .image-slider {
// //   width: 500px;
// // }

// // Миниатюры (preview)
// .image-mini-slider {
//   &__wrapper {
//   }

//   &__slide {
//     opacity: 0.2;
//     transition: opacity 0.3s ease 0s;
//   }

//   &__slide.swiper-slide-thumb-active {
//     opacity: 1;
//   }

//   &__image {
//     position: relative;
//     padding: 0px 0px 30% 0px;
//     cursor: pointer;
//   }

//   &__image img {
//     object-fit: cover;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//   }
// }

// // Передача управление

// .text {
//   font-size: 25px;
//   line-height: 150%;
//   color: #fff;
//   margin: 50px 0px;
//   padding: 10;
// }

// .text-slider {
//   background-color: green;
//   &__wrapper {
//   }

//   &__slide {
//     font-size: 25px;
//     line-height: 150%;
//     color: #fff;
//     background-color: blue;
//   }

//   &__slide h2 {
//     font-size: 40px;
//     font-weight: 700;
//     margin: 0px 0px 15px 0px;
//   }
// }

// .parallax-slider {
//   &__bg {
//     background: url(../../../img/01.jpg) no-repeat;
//     height: 300px;
//   }
//   &__slide {
//   }
// }

// .virtual-slider {
//   height: 300px;
//   color: #000;

//   &__text {
//     color: red;
//   }
// }
