.collection {
  padding-bottom: 70px;

  &__inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    min-width: 0;
  }

  &__item {
    position: relative;

    &:hover {
      .collection__info {
        opacity: 1;
      }
    }
  }

  &__img {
    width: 100%;
    max-width: 100%;
    display: block;
    min-height: 350px;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(#fff, 0.6);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.5s;
  }

  &__info-title {
    @extend %title-font;
    font-size: 20px;
    line-height: 25px;
    color: $title-color;
    position: relative;
    padding-bottom: 19px;
    margin-bottom: 19px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 80%;
      height: 1px;
      background-color: #6d7278;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
  }

  &__info-text {
    font-weight: 600;
    font-size: 14px;
    color: #707070;
  }
}
