.article-slider {
  &__box {
    position: relative;
  }

  &__arrow {
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }

  &__arrow--prev {
    left: 16px;
  }

  &__arrow--next {
    right: 16px;
  }
}
