.decor {
  padding: 170px 0 155px;
  background: url(../../../img/decor-bg.jpg) no-repeat;
  background-size: cover;

  &__title {
    @extend %title-font;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    color: $title-color;
    max-width: 737px;
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      height: 1px;
      background: #6d7278;
    }
  }

  &__text {
    max-width: 540px;
  }
}
