.recent-posts {
  padding-bottom: 50px;

  &__title {
    @extend %title-font;
    color: $title-color;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 24px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  &__item {
    color: #a1a1a1;
  }

  &__item-title {
    color: $major-color;
    font-size: 16px;
    line-height: 27px;
    display: block;
  }

  &__date,
  &__author {
    color: inherit;
  }
}
