.contact-slider {
  padding-bottom: 102px;

  &__item {
    margin-bottom: 20px;
  }

  &__item-inner {
    position: relative;

    &:hover {
      .contact-slider__title {
        opacity: 1;
      }
    }
  }

  &__img {
    width: 100%;
    min-height: 170px;
    object-fit: cover;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__title {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba($color: #fff, $alpha: 0.6);
    color: $title-color;
    @extend %title-font;
    line-height: 22px;
    padding: 0 10px;
    opacity: 0;
    transition: all, 0.5s;
    margin: 0;
  }
}
