.breadcrumbs {
  background: rgba(#dfdfdf, 0.5);
  padding: 13px 14px;
  z-index: 999;

  &__list {
    display: flex;
    overflow-x: auto;
  }

  &__item {
    position: relative;
    padding-right: 8px;
    &::after {
      content: '/';
      position: absolute;
      right: 1px;
    }

    &:last-child::after {
      content: '';
    }
  }

  &__link {
    font-size: 14px;
    line-height: 28px;
    color: $major-color;
  }
}
