.input {
  padding: 6px 10px 6px 18px;
  border-radius: 21px;
  background-color: transparent;
  border: 1px solid rgba($title-color, 0.7);
  flex-grow: 1;
  // flex: 1 0 auto;

  &::placeholder {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #a1a1a1;
  }
}
