.new-collection {
  text-align: center;
  padding: 45px 0 35px;

  &__title {
    @extend %title-font;
    color: $title-color;
    font-size: 36px;
    line-height: 51px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      height: 1px;
      margin: 0 auto;
      width: 250px;
      background-color: #6d7278;
      left: 0;
      right: 0;
    }
  }

  &__text {
    max-width: 730px;
    margin: 0 auto 30px;
  }
}
