// Главные блок ======================================================================================================================================================================================================
.main {
}

// Общие классы ======================================================================================================================================================================================================

.logo {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(29 / 24 * 100%);
  color: #000000;
}

// Swiper =====================================================================
/*
.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}
.slider-arrow {
  border-radius: 50%;
  height: 48px;
  background-color: rgba($button-color, $alpha: 0.3);
  color: $button-color;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease 0s;

  @media (any-hover: hover) {
    &:hover {
      background-color: $button-color;
      color: #fff;
    }
  }

  &--prev {
    &::before {
      content: "";
      transform: rotate(90deg);
    }
  }

  &--next {
    &::before {
      content: "";
      transform: rotate(-90deg);
    }
  }

  &--white {
    background-color: #ffffff;
    color: $button-color;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);

    @media (any-hover: hover) {
      &:hover {
        background-color: $button-color;
        color: #fff;
      }
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  cursor: pointer;
  flex: 0 0 27px;
  height: 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0px;
  background-color: transparent;
  &:not(:last-child) {
    margin-right: 12px;
  }

  &::after {
    content: "";
    width: 11px;
    height: 11px;
    background-color: #9d9b9b;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $button-color;
    transition: all 0.3s ease 0s;
    transform: scale(0);
  }
}

.swiper-pagination-bullet-active {
  &::after {
    background-color: $button-color;
  }

  &::before {
    transform: scale(1);
  }
}
*/
