//  Прижатие footer

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.main {
  flex: 1 1 auto;
  // padding: 90px 0px 0px 0px;

  @include media-breakpoint-down(sm) {
    // padding: 30px 0px 0px 0px;
  }
}

.footer {
  flex: 0 0 auto;
}

// ============================================================================

// Body

html,
body {
  height: 100%;
}

body {
  font-family: $fontFamily;
  font-weight: 400;
  line-height: 27px;
  font-size: 16px;
  color: $primary-color;
  min-width: 300px;
}

// ============================================================================

.hidden {
  display: none;
}

// ============================================================================

// Служебные классы

// ============================================================================

// Общие классы
