// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  margin: 0 auto;
  padding: 0 $containerPadding + px;
}

.container-fluid {
  max-width: 1920px;
  padding: 0 25px;
  margin: 0 auto;
}

//  Прижатие footer

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// Body

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 27px;
  font-size: 16px;
  color: $major-color;
  min-width: 300px;
}

.hidden {
  display: none;
}
