//  Прижатие footer

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

// Body

html,
body {
  height: 100%;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  line-height: 27px;
  font-size: 16px;
  color: $primary-color;
  min-width: 300px;
}

.hidden {
  display: none;
}
