// Grid breakpoints
// для media-запросов

$grid-breakpoints: (
  xs: 0,
  s: 375px,
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

// ============================================================================

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;

// ============================================================================

// Container padding

$containerWidth: 856;
$containerPadding: 10;
$maxWidth: 1030;

// ============================================================================

// Colors

$primary-color: #001731;
$secondary-color: #ff6464;

$title-color: #21243d;
$text-color: #21243d;

$button-color: #ff6464;

// ============================================================================

// $img-path: '../img';
// $style-path: './src/blocks';

// ============================================================================

// Fonts

$fontFamily: "Heebo", sans-serif;
$fontsize: 16;

%title-font {
  font-family: $fontFamily;
  font-weight: 700;
}

// ============================================================================
