// Grid breakpoints
// для media-запросов

$grid-breakpoints: (
  xs: 0,
  s: 375px,
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;
// scss-docs-end grid-breakpoints

// ============================================================================

$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;

// ============================================================================

// Container padding

$containerWidth: 1240;
$containerPadding: 15;
$maxWidth: 1440;

// ============================================================================

// Colors

$primary-color: #001731;
$secondary-color: #e89f71;

$title-color: #3a3a3a;
$text-color: #898989;

$button-color: #e89f71;

$link-color: #616161;

// ============================================================================

// $img-path: '../img';
// $style-path: './src/blocks';

// ============================================================================

// Fonts

$fontFamily: "Gilroy", sans-serif;
$fontSize: 16;

%title-font {
  font-family: $fontFamily;
  font-weight: 700;
}

// ============================================================================
