.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: calc(29 / 20 * 100%);
  transition: all 0.3s ease 0s;
  font-weight: 600;
  line-height: 150%;
  padding: 0px 15px;
  min-height: 48px;

  &._fw {
    width: 100%;
  }

  &--color {
    background-color: $button-color;
    color: #fff;
    @include media-breakpoint-up(lg) {
      &:hover {
        background-color: darken($button-color, 10%);
      }
    }
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid $button-color;
    color: $button-color;

    @media (any-hover: hover) {
      &:hover {
        background-color: $button-color;
        color: #fff;
      }
    }
  }

  &--white {
    color: $button-color;
    background-color: #fff;

    @media (any-hover: hover) {
      &:hover {
        background-color: $button-color;
        color: #fff;
      }
    }
  }
}

/* .btn - дргуие стили
.btn {
  background-color: $title-color;
  border: none;
  border-radius: 21px;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  line-height: 29px;
  color: #fffff0;
  cursor: pointer;

  &--black {
    background-color: $title-color;
    min-width: 160px;
  }

  &--transparent {
    background-color: transparent;
    border: 1px solid rgba(#454647, 0.5);
    color: #8f8d8d;
    padding: 6px 16px;
  }

  &--tag {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    padding: 0 16px;
  }
}

*/
