.title {
  font-weight: 700;
  @include fluid-size(24, 40);
  align-items: center;
  text-align: center;
  line-height: calc(48 / 44 * 100%);
  color: $title-color;
}

.title-small {
  font-weight: 600;
  @include fluid-size(20, 24);
  line-height: 120%;
}

.title-footer {
  @include fluid-size(20, 24);
  line-height: calc(29 / 24 * 100%);
  color: #000;
  font-weight: 700;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: $text-color;
}
